/* ratio: 16:5 */

.archWrapper{
    color: var(--white);
    width: 100%;
    /* height: 500px; */
    padding: 160px 10px 160px 10px;   
    /* background-color: red;  */
    margin: auto;
    margin-bottom: 100px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    display: flex;
    align-items: flex-start;

    flex-direction: column;
    /* align-items: flex-start; */
}


.archText{
    width: 90%;
    float: left;
    padding-bottom: 30px;

    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start 20px below */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Transition properties */

    font-weight: 200;
} 
.archText.fade-in{
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to original position */
}
.archImg{
    float: right;
    width: max(60%, 300px);
    margin-right: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
    align-self: center;
}
.archTitle{
    color: var(--pink);
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}
.archStatement{
    font-size: 20px;
    padding-left: 20px;
}


/* 
@media (max-width: 1650px) {
    .archWrapper {
      width: 1400px;
      height: 450px;
      font-size:15px;
      /* background-color: red;  //

    }
    .archTitle{
        font-size: 35px;
    }
    .archStatement{
        font-size: 17.5px;
    }
}
@media (max-width: 1450px) {
    .archWrapper {
      width: 1200px;
      height: 375px;
      font-size:15px;
      /* background-color: orange;  //

    }
    .archTitle{
        font-size: 30px;
    }
    .archStatement{
        font-size: 15px;
    }
}
@media (max-width: 1250px) {
    .archWrapper {
      width: 1000px;
      height: 350px;
      font-size:15px;
      /* background-color: yellow;  /

    }
    .archTitle{
        font-size: 25px;
    }
    .archStatement{
        font-size: 15px;
    }
}


@media (max-width: 1050px) {
    .archWrapper {
      width: 800px;
      height: 350px;
      font-size:15px;
      /* background-color: green;  /

    }
    .archTitle{
        font-size: 25px;
    }
    .archStatement{
        font-size: 15px;
    }
}
@media (max-width: 850px) {
    .archWrapper {
      width: 640px;
      height: 360px;
      font-size: 12px;
      /* background-color: blue;  /

    }
    .archTitle{
        font-size: 20px;
    }
    .archStatement{
        font-size: 12.5px;
    }
}
@media (max-width: 650px) {
    .archWrapper {
      width: 400px;
      height: 250px;
      font-size: 10px; 
      /* background-color: purple;  /

    }
    .archTitle{
        font-size: 18px;
    }
    .archStatement{
        font-size: 10px;
    }
}



*/