.mainContent {
    width: 80%;
    color: white;
    max-width: 1200px;
    margin-bottom: 80px;
}

.mainContent p, .mainContent ul, .mainContent ol {
    /* indentation */
    margin-left: 40px;
}

.mainContent h4 {
    color: var(--slate-blue);
    font-size: 1.2em;
    margin-left: 25px;
}

.mainContent h3 {
    color: var(--light-green);
    font-size: 1.5em;
    margin-left: 20px;
}

.mainContent h2{
    scroll-margin-top: 60px;

    color: var(--pink);
    
    font-size: 1.8em;

    /* margin-top: 60px; */
}

.mainContent h1 {
    color: var(--orange);
}

@keyframes highlight {
    from {
      background-position: 0;
    }

    to {
      background-position: -100%;
    }
}

.mainContent a {
    /* button */
    background-color: var(--orange);
    color: #131313;
    border: none;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;

    transition: all 0.3s;
    --webkit-transition: all 0.3s;
    --ms-transition: all 0.3s;
}


.mainContent a:hover {
    animation-name: highlight;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    background-size: 200%;
    background-image: linear-gradient(to right, var(--orange) 50%, transparent 50%), 
                      linear-gradient(transparent 0%, var(--middle-green) 100%);

    color: var(--lilac);
    font-weight: 400;
    font-size: 1.1em;
}

.pageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paddedContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
}

/* separating line */
.divider {
    border-top: 0.8px solid var(--lilac);
    margin-top: 40px;
    margin-bottom: 40px;
}