.footerContainer {
    width: 100%;
    min-height: 150px;

    text-align: center;
    font-size: 14px;
    color: #fff;
    background: var(--black);

    padding: 50px 0;
}

.twoColumn {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.linkbtnFooter {
    /* button */
    background-color: #d4d4d4;
    color: #131313;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.linkbtnFooter:hover {
    background-color: #858585;
}

.arxivLogo {
    width: 80px;
    height: 30px;
    background: url(../assets/arxiv_logo.png) no-repeat;
    background-size: contain;
    background-color: white;
    background-position: center;

    margin-bottom: 13px;

    border: 1px solid var(--white);
    border-radius: 5px;

    cursor: pointer;
}

.arxivLogo:hover {
    background: var(--dark-gray);
    border: 1px solid var(--middle-green);
}

.githubLogo {
    width: 40px;
    height: 40px;
    background: url(../assets/github_logo.png) no-repeat;
    background-size: contain;
    background-position: center;
    
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

.githubLogo:hover {
    width: 40px;
    height: 40px;
    background: url(../assets/github_logo_white.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.discordLogo {
    width: 40px;
    height: 40px;
    background: url(../assets/discord_logo.png) no-repeat;
    background-size: contain;
    background-position: center;

    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

.discordLogo:hover {
    width: 40px;
    height: 40px;
    background: url(../assets/discord_logo_white.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.emailLogo {
    width: 40px;
    height: 30px;
    background: url(../assets/gmail_logo.png) no-repeat;
    background-size: contain;
    background-color: white;
    background-position: center;

    /* border: 0.2px solid var(--white); */
    /* border-radius: 5px; */

    cursor: pointer;

    margin-bottom: 14px;
}

.emailLogo:hover {
    background: var(--dark-gray);
    /* border: 1px solid var(--middle-green); */
}

.footerTitle {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}