/* ratio: 16:5 */

.getStartedWrapper{
    color: var(--white);
    font-style: italic;
    width: 100%;
    padding: 150px 10px 150px 10px;   
    margin: auto;
    margin-top: 30px;
    text-align: center;
    /* border-radius: 50px 50px 0px 0px; */
    
    
    /* background-image: url('../assets/Background_img_3.jpg'); Replace with your image path */
    background: var(--dark-gray);
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    
    box-shadow: -1px -4px 20px 0px rgb(255 255 255 / 25%);

    display: flex;
    justify-content: center;
    align-items: center;


    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start 20px bottom */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Transition properties */
}

.getStartedWrapper.fade-in {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to original position */
}

.getStartedContent{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10%;
}
.getStartedButtWrapper{
    font-size: 15px;
}

.getStartedButt{
    /* button */
    background-color: var(--orange);
    /* background-color: #34251a; */
    color: #131313 ;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;

    margin: 0px 10px 0 10px;
    cursor: pointer;
    border-radius: 10px;

    transition: all 0.3s;
    --webkit-transition: all 0.3s;
    --ms-transition: all 0.3s;
}

.getStartedButt:hover {
    background-color: var(--middle-green);
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
}


/*

@media (max-width: 1650px) {
    .getStartedWrapper {
      width: 1400px;
      height: 500px;
      font-size:15px;
      /* background-color: red;  /

    }
    .getStartedContent{
        font-size: 35px;
    }
    .getStartedButtWrapper{
        font-size: 17.5px;
    }
}
@media (max-width: 1450px) {
    .getStartedWrapper {
      width: 1200px;
      height: 400px;
      font-size:15px;
      /* background-color: orange;  /

    }
    .getStartedContent{
        font-size: 30px;
    }
    .getStartedButtWrapper{
        font-size: 15px;
    }
}
@media (max-width: 1250px) {
    .getStartedWrapper {
      width: 1000px;
      height: 300px;
      font-size:15px;
      /* background-color: black;  /

    }
    .getStartedContent{
        font-size: 25px;
    }
    .getStartedButtWrapper{
        font-size: 15px;
    }
}


@media (max-width: 1050px) {
    .getStartedWrapper {
      width: 800px;
      height: 300px;
      font-size:15px;
      /* background-color: green;  /

    }
    .getStartedContent{
        font-size: 25px;
    }
    .getStartedButtWrapper{
        font-size: 15px;
    }
}
@media (max-width: 850px) {
    .getStartedWrapper {
      width: 600px;
      height: 300px;
      font-size: 12px;
      /* background-color: blue;  /

    }
    .getStartedContent{
        font-size: 20px;
    }
    .getStartedButtWrapper{
        font-size: 12.5px;
    }
}
@media (max-width: 650px) {
    .getStartedWrapper {
        width: 400px;
        height: 300px;
        font-size: 10px; 
        /* background-color: purple;  /
        flex-direction: column; /* Stack children vertically /

    }
    .getStartedContent{
        width: 90%;
        font-size: 18px;
    }
    .getStartedButtWrapper{
        width: 90%;
        font-size: 10px;
    }
}





*/