.homeWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiderBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.horScroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;

    

    scroll-snap-type: mandatory;
    scroll-snap-type: x mandatory;

    max-height: 700px;
    width: 100%;

    margin: 20px 0;

    -webkit-overflow-scrolling: touch;

    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
.container::-webkit-scrollbar {
    display: none;
}

.horScroll img {
    scroll-snap-align: center;
    width: 50vw;

    margin-right: 15vw;
    margin-left: 15vw;
    border-radius: 10px;
}

.imgWrapper {
    width: 60vw;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.mainTextBlockWrapper{
    display: flex; /* Enables flexbox layout */
    flex-wrap: wrap; /* Allows wrapping to the next line when space runs out */
    gap: 30px; /* Optional: Adds spacing between the divs */
    justify-content: center; /* Centers items horizontally */

    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start 20px down */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Transition properties */


}

.mainTextBlockWrapper.fade-in {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to original position */
}

.blurbContent {
    color: white;
    font-size: 22px;
    text-align: center;
    padding: 0 12vw;
    font-weight: 120;
}

.blurbTitle {
    color: white;
    font-size: 17px;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 5px;
}

.blurbList {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0 12vw;
    font-weight: 100;
}

.blurbWrapper {
    /* wrapper for textblock, feature, architecture */
    width: min(70%, 1250px);
    height: 100%;

    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media (max-width: 1300px) {
    /* when small, make it bigger */
    .blurbWrapper {
        width: 80%;
    }
    
}