.navigation{
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    /* background-color:lightslategray; */
    background-color: var(--black);

    margin-bottom: 10px;

    position: fixed;
    top: 0; /* How far down the page you want your ToC to live */

    z-index: 10;
}
.navigation ul{
    width: 100%;
    display:flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    overflow: hidden;
    z-index: 9;

    padding-top: 10px;
    font-size: 1.2em;
    
}
.navigation ul li{
    list-style-type: none;
    padding-right: 40px;
}

.navigation a:hover{
    color: var(--green) !important;
}

.hamburger{
    display:none;
} 

.hamContainer{
    width: 0;
}

.navigation a {
    text-decoration: none !important;
    color: white !important; 
    font-weight: 80;
}


