.sidebarContainer {
    position: sticky;
    position: -webkit-sticky; /* For Safari */
    top: 50px; /* How far down the page you want your thing to live */
  
    /* Give table of contents a scrollbar */
    max-height: calc(100vh - 50px);
    overflow: auto;

    min-width: 190px;
    background-color: var(--middle-gray);
    
    padding: 40px 0px 0 20px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    z-index: 3;
}

.sidebarContainer a {
    text-decoration: none;
    color: var(--white);
    padding: 10px;
    border-radius: 15px 0 0 15px;
    font-weight: 100;
}

.sidebarContainer a:hover {
    color: var(--green);
    font-weight: 400;
}



/* when screen small */
@media (max-width: 767px){
    .sidebarContainer{
        display: none;
    }
}
