nav {
    position: sticky;
    position: -webkit-sticky; /* For Safari */
    top: 100px; /* How far down the page you want your ToC to live */
  
    /* Give table of contents a scrollbar */
    max-height: calc(100vh - 120px);
    overflow: auto;
}

.toc {
    /* min-width: 200px;
    max-width: fit-content; */
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--light-gray);
    border-color: red red red var(--white);
    border-style: solid;
    border-width: 0px 0px 0px 0.2px;
    font-weight: 130;
}


.toc a {
    text-decoration: none;
    color: var(--light-gray);
}

.toc li.active > a {
    color: var(--middle-green) !important;
    font-weight: 300;
}

.toc li > a {
    color: var(--light-gray) !important;
}

.toc li > a:hover {
    color: var(--white) !important;
    font-weight: 300;
}

/* when screen small */
@media (max-width: 1050px){
    .toc{
        display: none;
    }
}
