nav {
    position: sticky;
    position: -webkit-sticky; /* For Safari */
    top: 100px; /* How far down the page you want your ToC to live */
  
    /* Give table of contents a scrollbar */
    max-height: calc(100vh - 120px);
    overflow: auto;
}

.toc {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    color: #969696;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: red red red white;
    border-style: solid;
    border-width: 0px 0px 0px 0.2px;
    font-weight: 130;
}

.toc a {
    text-decoration: none;
    color: #969696;
}

.toc li.active > a {
    color: white !important;
}

.toc li > a {
    color: #969696 !important;
}

.toc li > a:hover {
    color: white !important;
}

/* when screen small */
@media (max-width: 767px){
    .toc{
        display: none;
    }
}
