nav {
    position: sticky;
    position: -webkit-sticky; /* For Safari */
    top: 80px; /* How far down the page you want your ToC to live */
  
    /* Give table of contents a scrollbar */
    max-height: calc(100vh - 120px);
    overflow: auto;

    color: #bebebe;
}