/* ratio: 16:5 */
@tailwind base;
@tailwind components;
@tailwind utilities;

.textBlockWrapper{
    color: var(--white);
    /* width: 100%; */
    min-width: 300px; 
    max-width: 35%; 

    height:100%;
    /* width: 300px; */
    padding: 20px;
    /* margin: auto; */
    margin-bottom: 50px;

    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* gap: 2vw; */

    /* opacity: 0; 
    transform: translateY(-20px); 
    transition: opacity 1s ease-out, transform 1s ease-out;  */

    background-color: var(--black-black); /*TODO: FIND ACTUAL BACKGROUND COLOR*/

    transition: transform 0.2s ease-in-out;

    border-top: 1pt white solid;
    border-left: 1pt white solid;
}

.textBlockWrapper:hover {
    /* color: var(--black); */
    transform: translate(-10px, -15px); /* up and left */
    background-color: var(--dark-blue-solid);

    border-top: 0pt;
    border-left: 0pt;
}

.textBlockWrapper.fade-in {
    /* opacity: 1; 
    transform: translateY(0);  */
}

.textBlockHeader{
    display: flex;
    align-items: left; /* Aligns items vertically */
    gap: 8px; /* Adds space between the title and icon */
}

.textBlockTitle{
    color: var(--pink);
    font-size: 30px;
    font-weight: bold;
    /* float: left; */
    /* width: 25%; */
}

.textBlockIcon {
    display: flex; /* Ensures proper alignment */
    align-items: center; /* Centers the icon */
    justify-content: center; /* Centers the icon */
}

.textBlockContent{
    font-size: 20px;
    /* float: right; */
    /* width: 75%; */
    font-weight: 200;
    /* padding-left: 20px; */

}
@media (max-width: 1300px) {
    .textBlockWrapper {
      /* flex-direction: column;
      align-items: flex-start; */
      /* // background-color: orange;  // */

    }
    .textBlockTitle{
        /* width: 90%; */
        /* padding-bottom: 30px; */
        /* font-size: 30px; */
    }
    .textBlockContent{
        /* width: 90%; */
        /* font-size: 15px; */
    }
}

/* 
@media (max-width: 1650px) {
    .textBlockWrapper {
      width: 1400px;
      height: 300px;
      font-size:15px;
      //background-color: red;  

    }
    .textBlockTitle{
        font-size: 35px;
    }
    .textBlockContent{
        font-size: 17.5px;
    }
}
*/

/*
@media (max-width: 1250px) {
    .textBlockWrapper {
      width: 1000px;
      height: 200px;
      font-size:15px;
      // background-color: black;  //

    }
    .textBlockTitle{
        font-size: 25px;
    }
    .textBlockContent{
        font-size: 15px;
    }
}


@media (max-width: 1050px) {
    .textBlockWrapper {
      width: 800px;
      height: 200px;
      font-size:15px;
      // background-color: green;  //

    }
    .textBlockTitle{
        font-size: 25px;
    }
    .textBlockContent{
        font-size: 15px;
    }
}
@media (max-width: 850px) {
    .textBlockWrapper {
      width: 600px;
      height: 200px;
      font-size: 12px;
      /* background-color: blue;  //

    }
    .textBlockTitle{
        font-size: 20px;
    }
    .textBlockContent{
        font-size: 12.5px;
    }
}
@media (max-width: 650px) {
    .textBlockWrapper {
        width: 400px;
        height: 200px;
        font-size: 10px; 
        /* background-color: purple;  //
        flex-direction: column; /* Stack children vertically //

    }
    .textBlockTitle{
        width: 90%;
        font-size: 18px;
    }
    .textBlockContent{
        width: 90%;
        font-size: 10px;
    }
}




*/