/* ratio: 16:5 */

.textBlockWrapper{
    color: var(--white);
    width: 100%;
    /* height: 400px; */
    padding: 100px 10px 100px 10px;
    margin: auto;
    margin-bottom: 50px;
    /* border-top: 3px solid var(--white);
    border-bottom: 3px solid var(--white); */


    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2vw; */

    opacity: 0; /* Start hidden */
    transform: translateX(-20px); /* Start 20px left */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Transition properties */
}

.textBlockWrapper.fade-in {
    opacity: 1; /* Fade in */
    transform: translateX(0); /* Move to original position */
}

.textBlockTitle{
    color: var(--pink);
    font-size: 30px;
    font-weight: bold;
    float: left;
    width: 25%;
}
.textBlockContent{
    font-size: 20px;
    float: right;
    width: 75%;
    font-weight: 200;
    padding-left: 20px;

}
@media (max-width: 1300px) {
    .textBlockWrapper {
      flex-direction: column;
      align-items: flex-start;
      /* // background-color: orange;  // */

    }
    .textBlockTitle{
        width: 90%;
        padding-bottom: 30px;
        /* font-size: 30px; */
    }
    .textBlockContent{
        width: 90%;
        /* font-size: 15px; */
    }
}

/* 
@media (max-width: 1650px) {
    .textBlockWrapper {
      width: 1400px;
      height: 300px;
      font-size:15px;
      //background-color: red;  

    }
    .textBlockTitle{
        font-size: 35px;
    }
    .textBlockContent{
        font-size: 17.5px;
    }
}
*/

/*
@media (max-width: 1250px) {
    .textBlockWrapper {
      width: 1000px;
      height: 200px;
      font-size:15px;
      // background-color: black;  //

    }
    .textBlockTitle{
        font-size: 25px;
    }
    .textBlockContent{
        font-size: 15px;
    }
}


@media (max-width: 1050px) {
    .textBlockWrapper {
      width: 800px;
      height: 200px;
      font-size:15px;
      // background-color: green;  //

    }
    .textBlockTitle{
        font-size: 25px;
    }
    .textBlockContent{
        font-size: 15px;
    }
}
@media (max-width: 850px) {
    .textBlockWrapper {
      width: 600px;
      height: 200px;
      font-size: 12px;
      /* background-color: blue;  //

    }
    .textBlockTitle{
        font-size: 20px;
    }
    .textBlockContent{
        font-size: 12.5px;
    }
}
@media (max-width: 650px) {
    .textBlockWrapper {
        width: 400px;
        height: 200px;
        font-size: 10px; 
        /* background-color: purple;  //
        flex-direction: column; /* Stack children vertically //

    }
    .textBlockTitle{
        width: 90%;
        font-size: 18px;
    }
    .textBlockContent{
        width: 90%;
        font-size: 10px;
    }
}




*/