body {
  margin: 0;
  min-height: 100%;
  width: 100%;
  background-color: transparent !important;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  min-height: 100%;
  width: 100%;
  background-color: var(--dark-gray);

  overscroll-behavior-y: none;
  /* overflow: scroll; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --black: #13110C;
  --white: #E2E1DD;

  --light-gray: #969696;
  --middle-gray: #252627;
  --dark-gray: #1b1b1b;

  --light-green: #ABBB7D;
  --middle-green: #61852B;
  --dark-green: #283B35;

  --light-blue: #92CCEA;
  --middle-blue: #547FE7;
  --dark-blue: #426679;

  --dark-blue-transparent: #426679c2;

  --orange: #CF8E55;
}