@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100%;
  width: 100%;
  background-color: transparent !important;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  min-height: 100%;
  width: 100%;
  background: var(--moss-gradient);

  overscroll-behavior-y: none;
  /* overflow: scroll; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --black: #000000df;
  --black-black: #000000;
  --white: #E2E1DD;
  --white-transparent: #ffffff51;

  --light-gray: #969696;
  --middle-gray: #252627;
  --dark-gray: #0a0a0a;
  --almost-black: #070707;

  --moss-gradient: linear-gradient(180deg, #000000 0%, #070707 100%);

  --light-green: #83d0cb;
  --middle-green: #A8DADC; 
  --dark-green: #283B35;

  --light-blue: #F1FAEE;
  --middle-blue: #A8DADC;
  --slate-blue: #1D3557;
  --dark-slate-blue: #091d38c5;
  --dark-blue: #071933a9;

  --dark-blue-solid: #000211;

  --dark-blue-transparent: #1d35578d;

  --orange: #efa89a;
  --pink: #d5896f;
  --lilac: #F1FAEE;
}
/* :root {
  --black: #000000df;
  --black-black: #000000;
  --white: #E2E1DD;
  --white-transparent: #ffffff51;

  --light-gray: #969696;
  --middle-gray: #252627;
  --dark-gray: #0a0a0a;
  --almost-black: #070707;

  --moss-gradient: linear-gradient(180deg, #000000 0%, #070707 100%);

  --light-green: #ABBB7D;
  --middle-green: #94B536; 
  --dark-green: #283B35;

  --light-blue: #92CCEA;
  --middle-blue: #547FE7;
  --slate-blue: #426679;
  --dark-slate-blue: #142841;
  --dark-blue: #001420df;

  --dark-blue-solid: #010b11;

  --dark-blue-transparent: #426679c2;

  --orange: #CF8E55;
  --pink: #D98373;
  --lilac: #D6DCF9;
} */